<%= form_with(model: @post, local: true, html: { class: "d-flex justify-content-center flex-column", multipart: true }) do |form| %>
  <div class="field form-group">
    <div class="image-upload-container">
      <img id="img-preview" src="<%= @url || asset_path('no-image.jpg') %>" alt="Logo Image">
    </div>

    <%= form.label :attachments %><br/>
    <div id="attachments">
      <%= form.fields_for :attachments do |attachment_form| %>
        <div class="attachment-fields">
          <%= attachment_form.file_field :file, class: 'attachment-file-input form-control' %>
          <%= attachment_form.check_box :_destroy %>
          <%= attachment_form.label :_destroy, 'Remove file' %>
        </div>
      <% end %>

      <% if @post.attachments.empty? %>
        <div class="attachment-fields">
          <%= form.fields_for :attachments, @post.attachments.build do |attachment_form| %>
            <%= attachment_form.file_field :file, class: 'attachment-file-input form-control' %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="field form-group">
      <%= form.label :title %><br/>
      <%= form.text_field :title, class: "w-75" %>
    </div>

    <div class="field form-group">
      <%= form.label :body %><br/>
      <%= form.text_area :body, class: "w-75" %>
    </div>

    <div class="field form-group">
      <%= form.label :status %><br/>
      <%= form.select :status, options_for_select([
          ['Draft', "draft"],
          ['Published', "published"],
          ['Archived', 'archived']
      ], @post.status), {}, class: 'form-select w-75', aria: { label: 'Default select example' } %>
    </div>

    <%= form.hidden_field :user_id, value: current_user.id %>

    <div class="actions field form-group text-center">
      <%= form.submit @post.new_record? ? "Create Post" : "Update Post", class: "btn btn-success" %>
    </div>
  <% end %>