<%= form_with(model: @post, local: true, html: { class: "main_cu_container", multipart: true }) do |form| %>
  <div >
    <div class="image-upload-container content_img">
      <img id="img-preview" src="<%= @url || asset_path('no-image.jpg') %>" alt="Logo Image">
      <div class="img-text">Click to Change Image</div>
    </div>

    <div id="attachments" class ="form-group d-none">
      <%= form.fields_for :attachments, class: "input-group" do |attachment_form| %>
        <div class="attachment-fields">
          <%= attachment_form.file_field :file, class: 'attachment-file-input' %>
          <%= attachment_form.check_box :_destroy %>
          <%= attachment_form.label :_destroy, 'Remove file' %>
        </div>
      <% end %>

      <% if @post.attachments.empty? %>
        <div class="attachment-fields">
          <%= form.fields_for :attachments, @post.attachments.build do |attachment_form| %>
            <%= attachment_form.file_field :file, class: 'attachment-file-input' %>
          <% end %>
        </div>
      <% end %>
    </div>
    <br/>
    <div class="input-box">
      <%= form.label :title, class: "details" %>
      <%= form.text_field :title %>
    </div>
    <br/>
    <div class="input-box">
      <%= form.label :body, class: "details" %>
      <%= form.text_area :body %>
    </div>
    <br/>
    <div class="input-box">
      <%= form.label :location, class: "details" %>
      <%= form.text_field :location %>
    </div>
    <br/>
    <% if @show_pos %>
      <div class="input-box">
        <%= form.label :position, class: "details" %>
        <%= form.text_field :position %>
      </div>
      <br/>
    <% end %>
    <div class="status">
      <%= form.label :status, class: "details" %>
      <%= form.select :status, options_for_select([
          ['Draft', "draft"],
          ['Published', "published"],
          ['Archived', 'archived']
      ], @post.status), {}, class: 'form-select-custom', aria: { label: 'Default select example' } %>
    </div>
    <br/>
    <%= form.hidden_field :user_id, value: current_user.id %>

    <div class="actions field text-center mt-4">
      <%= form.submit @post.new_record? ? "Create Post" : "Update Post", class: "btn btn-success" %>
    </div>
  <% end %>