<!DOCTYPE html>
<html>
<head>
  <title>Your Application Name</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<!-- Navigation or Header Section -->
<nav>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <!-- Add other navigation links as needed -->

    <% if user_signed_in? %>
      <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to 'Sign in', new_user_session_path %></li>
      <li><%= link_to 'Sign up', new_user_registration_path %></li>
    <% end %>
  </ul>
</nav>

<!-- Main Content Section -->
<div>
  <%= yield %>
</div>

</body>
</html>
