<%
    resource = User.new
    resource_name = :user
    devise_mapping = Devise.mappings[:user]
%>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'new_user d-flex justify-content-center flex-column align-items-center' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
 <div class="kae-form-group">
    <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="actions form-group text-center">
        <%= f.submit "Send me reset password", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>


<div class="d-flex justify-content-center">
    <%= link_to 'Sign up', users_sign_up_model_box_path, remote: true, id: 'showModalBtn', class: 'btn btn-link' %>
    <%= link_to 'Log in', users_login_model_box_path, remote: true, id: 'showModalBtn', class: 'btn btn-link' %>
</div>