<div class="table-continer">
    <div class="table-actions">
        <div class="div_left_align"></div>
        <div class="div_right_align">
            <%= link_to 'Create Post', post_model_box_posts_path(title: "Create Post"), remote: true, id: 'showModalBtn', class: 'custom_button custom_success_btn sigin-out-block-btn' %>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Body</th>
                <th>Published At</th>
                <th>status</th>
                <th>Added By</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Likes</th>
                <th>Comments</th>
                <th>Link</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% @posts.each do |post| %>
                <%
                    image = post.attachments.last
                    url = nil
                    if image.present? && image.file.attached?
                        url = rails_blob_url(image.file, only_path: true)
                    end
                %>
                <tr>
                    <td data-label="ID"><%= post.id %></td>
                    <td data-label="Title"><%= post.title %></td>
                    <td data-label="Body"><%= post.body %></td>
                    <td data-label="PublishedDate"><%= format_date(post.published_at) %></td>
                    <td data-label="Status"><span class="active"><%= post.status %></span></td>
                    <td data-label="AddedBy"><img src="https://i.postimg.cc/FR5xjr4g/user.png" alt="" /><%= post.user.email%></td>
                    <td data-label="CreatedAt"><%= format_date(post.created_at) %></td>
                    <td data-label="UpdatedAt"><%= format_date(post.updated_at) %></td>
                    <td data-label="Likes">0</td>
                    <td data-label="Comments">0</td>
                    <td data-label="Link"><img id = "uploaded_image" src="<%= url %>"/></td>
                    <td data-label="Link">
                        <%= link_to post_model_box_posts_path(id: post, title: "Update Post"), remote: true, id: 'showModalBtn' do %>
                            <i class="fa-solid fa-pen-to-square text-primary"></i>
                        <% end %>

                        <%= link_to post_path(post),  method: :delete, data: { confirm: 'Are you sure?' } do %>
                            <i class="fa-solid fa-trash text-danger"></i>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>