<%
  grid_pattren = {
    grid1: {col: "1/2", row_diff: 2, row_inc: 0},
    grid2: {col: "2/3", row_diff: 1, row_inc: 0},
    grid3: {col: "2/3", row_diff: 1, row_inc: 1},
    grid4: {col: "1/2", row_diff: 1, row_inc: 1},
    grid5: {col: "1/2", row_diff: 1, row_inc: 1},
    grid6: {col: "2/3", row_diff: 2, row_inc:-1},
  }
  height = 1
  max_height = 6
  row_count = 1
%>

<div class="home-main-container">
    <div class="home-main-section-1">
       <section class="creative-carousal--hero">
		<div class="carousel-slider swiper-container-horizontal">
			<div class="swiper-wrapper">
                <% @posts.each do |post| %>
                    <% url = post.image_url %>
                	<div class="swiper-slide" data-background="<%= url %>" style="background-image: url(<%= url %>);">
					    <div class="inner"><h2><%= post.title&.capitalize %></h2> 
						    <a href="#">DISCOVER CASE</a> 
					    </div>
				    </div>
                <% end %>
			</div>
			<!-- End Of Swiper -->
			<div class="slide-progress"> 
				<span>01</span>
				<div class="swiper-pagination swiper-pagination-progressbar"><span class="swiper-pagination-progressbar-fill"></span></div>
				<span><%= @posts.count %></span> 
			</div>
			<!-- end of progress -->
			<div class="swiper-button-prev">PREV</div>
			<!-- end button-prev -->
			<div class="swiper-button-next">NEXT</div>
			<!-- end button-next -->
			</div>
		</section>
    </div>
    
    <div class="home-main-section-2">
        <div class="grid-layout">
              <% @posts.limit(6).each do |post| %>
        <% 
          value = grid_pattren["grid#{height}".to_sym]
          row_count += value[:row_inc]
        %>
        <div class="section-2-images" style="grid-column: <%= value[:col] %>; grid-row: <%= "#{row_count}/#{( value[:row_diff] + row_count)}" %>;">
            <div class="grid-image-container">
               <img src="<%= post.image_url %>" />
               <p class="home-img-cat">category</p>
               <a class="image_read_more">Read More</a>
            </div>
            <div class="grid-content-container">
               <p class="grid-title"><%= post.title %></p>
                <p class = "grid-date">July 24</p>
            </div>
        </div>
        <% 
           height += 1
           if height > max_height
            height = 1
            row_count += 2
           end 
        %>
        <% end %>
        </div>
   </div>
</div>

<%= javascript_include_tag 'posts' %>