<nav class='kae-nav-bar'>
    <div class="logo">
        <img src="<%= asset_path( 'logo.png' ) %>" alt="Logo Image">
    </div>
    <div class="hamburger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <ul class="nav-links">
        <div class="navlink-list header-ul-lists">
          <li><%= nav_link_to 'Home', root_path %></li>
          <li><%= nav_link_to 'About', about_path %></li>
        </div>
        <div class="btn-list header-ul-lists">
          <% if user_signed_in? %>
            <li><%= link_to 'More', users_get_more_options_path, remote: true, id: 'showModalBtn', class: 'custom_button custom_success_btn sigin-out-block-btn' %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'custom_button custom_danger_btn sigin-out-block-btn' %></li>
          <% else %>
            <li><%= link_to 'Log in', users_login_model_box_path, remote: true, id: 'showModalBtn', class: 'custom_button custom_success_btn sigin-out-block-btn' %></li>
            <li><%= link_to 'Sign up', users_sign_up_model_box_path, remote: true, id: 'showModalBtn', class: 'custom_button custom_info_btn sigin-out-block-btn' %></li>
          <% end %>
        </div>
    </ul>
</nav>

<script>
const hamburger_menu = document.querySelector(".hamburger");
const navLinks = document.querySelector(".nav-links");
const links = document.querySelectorAll(".nav-links .header-ul-lists li");

hamburger_menu.addEventListener('click', ()=>{
   //Animate Links
    navLinks.classList.toggle("open");
    links.forEach(link => {
        link.classList.toggle("fade");
    });

    //Hamburger Animation
    hamburger_menu.classList.toggle("toggle");
});
</script>