<!-- app/views/layouts/application.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <title>KA15 Explorer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% stylesheet_name = "#{params[:controller]}.css" %>
    <%= stylesheet_link_tag stylesheet_name, media: 'all', 'data-turbo-track': 'reload' if stylesheet_exists?(stylesheet_name) %>
    <%= stylesheet_link_tag 'header', media: 'all', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render 'layouts/partials/header' %>
    <%= turbo_frame_tag "globalModal" %>
    <div class="main-body-wrapper">
      <%= yield %>
    </div>
    <div id="modalContainer"></div>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.6.0.min.js' %>
    <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' %>
    <%= render 'layouts/partials/footer' %>
  </body>
</html>
